body{
    background-color: lightblue;
    background-image: url("image/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Merriweather', serif;
}

.floating-box{
    float: left;
}
#main-right{
    background: rgba(230, 156, 59, 0.849);
    height:700px;
}
.tool{
    margin-top: 25px;
    margin-bottom: 25px;
}
#c{
    border: 1px dashed #c3c3c3;
    background-color: white;
}

#drawing-mode-options{
    width:500px;
    margin-bottom: 50px;
}
#topic{
    font-family: 'Chicle', cursive;
    color: rgba(5, 73, 219, 0.952);
    font-size: 5rem;
    text-shadow: 2px 2px #ff0000;
}
#default{
    width:400px;
}
#save{
    width: 2em;
    height:2em;
    font-size:2em;
    background: grey;
    border:2px black solid;
}